.btn {
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  align-items: center;
}
.btn:hover {
  color: #fff;
}
.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
  width: 100%;
}
.btn svg,
.btn span {
  z-index: 1;
}
.btn svg {
  margin-right: 10px;
}
.btn:hover span {
  color: #fff;
}
/*=== Hero section ==== */
.hero-section {
  margin-bottom: 50px;
}
.hero-slide-item {
  padding-top: 40%;
  position: relative;
  overflow: hidden;
  height: 500px;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-slide-item img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  display: flex;
}

.item-content-wrapper {
  padding-left: 5rem;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--space-top) / 2);
  color: var(--text-color);
}

.movie-info {
  display: flex;
  align-items: center;
}

.movie-info svg {
  color: var(--main-color);
}

.movie-info ~ .movie-info {
  margin-left: 5px;
}

.movie-info span {
  margin-left: 5px;
}

.item-content-description {
  font-size: 1.15rem;
  margin-top: var(--space-top);
  line-height: 1.5rem;
}

.item-action {
  margin-top: var(--space-top);
}
/* button next, prev */
.slick-arrow::before {
  font-size: 32px;
}
.slick-prev {
  z-index: 2;
  left: 20px;
}
.slick-next {
  z-index: 2;
  right: 20px;
}
.top-down {
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.delay-2 {
  transition-delay: 0.2s;
}
.delay-4 {
  transition-delay: 0.4s;
}
.delay-6 {
  transition-delay: 0.6s;
}
.delay-8 {
  transition-delay: 0.8s;
}

.slick-active .top-down {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* movie-item */
.movie-item {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 140%;
  cursor: grab;
}

.movie-item img {
  cursor: grab;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s linear;
}

.movie-item:hover img {
  transform: scale(1.2);
}

.movie-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
  color: var(--text-color);
  font-size: 24px;
  text-transform: capitalize;
  position: relative;
  text-overflow: ellipsis;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}
.slick-dots li button::before {
  color: #fff;
}
.slick-active button::before {
  color: #fff;
  width: 24px;
}
.dots-pagination li {
  /* border: 2px solid ; */
  height: 5px;
  width: 10px;
  background-color: rgb(73, 71, 71);
  border-radius: 5px;
  transition: 0.3s;
}
.dots-pagination li:hover {
  background: #fff;
}
.dots-pagination li.slick-active {
  background: #fff;
  width: 50px;
}
@media only screen and (max-width: 1280px) {
  .movie-item-title {
    width: 350px;
  }
}

@media screen and (max-width: 992px) {
  .hero-slide-item {
    padding-top: 50%;
    height: 400px;
  }

  .item-content-wrapper {
    width: 50%;
  }
  .item-content-wrapper::before {
    left: 50%;
  }

  .hero-slide-item img {
    height: 100%;
  }

  .item-content-title {
    font-size: 40px;
    line-height: 50px;
  }
  .item-content-description {
    display: none;
  }
  .movie-item-title {
    font-size: 20px;
    width: 250px;
  }
  .btn {
    padding: 5px 15px;
  }
}

@media screen and (max-width: 576px) {
  .hero-slide-item {
    height: 300px;
    padding-top: unset;
  }

  .item-content-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 5rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  .hero-slide-item-content {
    position: relative;
  }
  .item-content-wrapper::before {
    display: none;
  }
  .movie-item-title {
    font-size: 16px;
    width: 200px;
  }
  .btn {
    padding: 5px 10px;
  }
}
