.video-react {
  padding-top: 40% !important;
  max-width: 80% !important;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .video-react {
    padding-top: 56.25% !important;
    max-width: 100% !important;
  }
}
