.logo {
  position: relative;
  z-index: 1;
  height: 28px;
  margin-left: 10px;
}

.navbar {
  padding: 0;
  background-color: #0c2738;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-collapse a.active {
  color: white;
  border-bottom: 2px solid #f1b722;
}
.navbar-collapse a {
  height: 80px;
  margin-left: 45px;
  padding-top: 27px;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 2px solid transparent;
  -webkit-transition: color 0.2s, border 0.2s;
  transition: color 0.2s, border 0.2s;
  color: #899ead;
  font-size: 17px;
  font-weight: 600;
}
.navbar-collapse a:hover {
  color: white;
  border-bottom: 2px solid #f1b722;
}
